@model List<APIDTOs.StudentDTOs>
@{
    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>
    <table>
    <h1>All Students</h1>
    <tr>
    <th>
    Id
    </th>
    <th>
    Name:
    </th>
    <th>
    Father Name:
    </th>
    <th>
    Email:
    </th>
    <th>
    Phone:
    </th>
    <th>ClassName</th>
    <th>Delete</th>
    <th>Edit</th>
    </tr>
    <tbody>
    @foreach(var item in Model)
            {
                <tr>
                <td> @item.Id </td>
                <td> @item.Name </td>
                <td>@item.FatherName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.ClassName</td>
                <td>@Html.ActionLink("Delete","Delete",new {id = item.Id})</td>
                <td>@Html.ActionLink("Edit","Edit",new{id = item.Id})</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("AddStudent","AddStudent")
}